#mapContainer {
  display: block;
  height: 100vh;
  width: 100%;
}

.view {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  transition: opacity 1s ease;
}
.scene {
  opacity: 0;
  pointer-events: none;
}
.map {
  opacity: 1;
  pointer-events: auto;
}